<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Registration Page</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
/* Custom styles */
.container {
	background-color: lightBlue;
	background-image: url("/image/vb.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 550px;
	padding-top: 10px;
}

.form-container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	margin-top: 4px;
	border-radius: 10px;
	margin-left: 140px;
}

.logo {
	margin-left: 20px;
	margin-top: 8px;
}

.header1 {
	color: black;
	font-size: 20px;
	display: flex;
	flex-direction: row;
}

.header1 img {
	margin-right: 48%;
	margin-left: 20px;
	margin-top: 5px;
}

.header1 a {
	margin-left: 30px;
	padding: 12px 0px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.header1 a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: blue;
}

a:visited {
	color: green;
}


.formerror
{
color:red;
}
</style>

<script type="text/javascript">



function showError(input, errMessage){
  const formControl = input.parentElement;
  const small = formControl.querySelector('small');
  small.innerHTML = errMessage;
  input.classList.add("is-invalid");
  event.preventDefault();
}
function formValidator()
{
    var firstName=document.getElementById('FirstName').value;
	var lastName=document.getElementById('lastName').value;
	var phone=document.getElementById('phone').value;
	var email=document.getElementById('email').value;
	var password=document.getElementById('password').value;
	var confirmPassword=document.getElementById('confirmPassword').value;
	var isValid=true;
    if(!firstName)
	{
	document.getElementsByClassName("formerror")[0].innerHTML="*This field is required";
	  isValid=false;
	}
    
    if(!lastName)
	{
	document.getElementsByClassName("formerror")[0].innerHTML="*This field is required";
	  isValid=false;
	}
    if(!email)
	{
	document.getElementsByClassName("formerror")[0].innerHTML="*This field is required";
	  isValid=false;
	}
    if(!password)
	{
	document.getElementsByClassName("formerror")[0].innerHTML="*This field is required";
	  isValid=false;
	}
    if(!confirmPassword)
	{
	document.getElementsByClassName("formerror")[0].innerHTML="*This field is required";
	  isValid=false;
	}
event.preventDefault();
return isValid;
}   
    

</script>
</head>
<body>
	<header class="header1">
		<img th:src="@{/image/secondry-logo.png}" height="80px" width="80px"></img>
		<a th:href="@{/home}">Home</a>
		<a th:href="@{/login}">Login</a>
		<a>Search</a> <a>Book Now</a> <a>Contact</a>
	</header>

	<div class="container">
		<div class="form-container">
			<h2 class="text-center mb-4">Create IRCTC Account</h2>
			<form  name="registrationForm"   th:action="@{/user/create}"
				th:object="${user}" method="POST" onsubmit="return formValidator()" >
				<div class="form-group">
					<input type="text" 
					    th:field="*{firstName}" 
					    class="form-control formerror"
						placeholder="First Name"
						th:value="${user.firstName}"
						id= "FirstName" 
						th:classappend="${#fields.hasErrors('firstName') ?'is-invalid':''}"/>
						  
						<div id="validationServer03Feedback"  class="invalid-feedback"
						  th:each="e: ${#fields.errors('firstName')}" th:text="${e}" >
                                         
                         </div>
                  
				</div>
				<div class="form-group">
					<input type="text" th:field="*{lastName}" class="form-control"
						placeholder="Last Name" id="lastName"  name="lname"  th:classappend="${#fields.hasErrors('lastName') ?'is-invalid':''}"><b><span class="formerror"></span></b>
						<div id="validationServer03Feedback"  class="invalid-feedback"  th:each="e: ${#fields.errors('lastName')}" th:text="${e}" >
                                     </div>
				</div>
				<div class="form-group">
					<input type="tel" th:field="*{contact}" class="form-control"
						placeholder="Phone" id="phone"   name="phone" th:classappend="${#fields.hasErrors('contact') ?'is-invalid':''}"> <b><span class="formerror"></span></b>
						<div id="validationServer03Feedback"  class="invalid-feedback"  th:each="e: ${#fields.errors('contact')}" th:text="${e}" >
                 </div>
				</div>
				<div class="form-group">
					<input type="text" th:field="*{email}" class="form-control"
						placeholder="Email" id="email"   name="email" th:classappend="${#fields.hasErrors('email') ?'is-invalid':''}"> <b><span class="formerror"></span></b>
				
				<div id="validationServer03Feedback"  class="invalid-feedback"  th:each="e: ${#fields.errors('email')}" th:text="${e}" >
                 </div>
                 </div>
				<div class="form-group">
					<input type="password" th:field="*{password}" class="form-control"
						placeholder="Password" id="password"  name="password"  th:classappend="${#fields.hasErrors('password') ?'is-invalid':''}"><b><span class="formerror"></span></b>
						<div id="validationServer03Feedback"  class="invalid-feedback"  th:each="e: ${#fields.errors('password')}" th:text="${e}" >
                 </div>
				</div>
				<div class="form-group">
					<input type="password" class="form-control"
						placeholder="Confirm Password" id="confirmPassword"  name="cpassword"> <b><span class="formerror"></span></b>
				</div>
				<div class="form-group" >
					<label>User Type:</label><br>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" th:field="*{role}"
							th:value="user" name="userType" id="user" value="user" th:classappend="${#fields.hasErrors('role') ?'is-invalid':''}">
						<label class="form-check-label" for="user">User</label>
						
						<br>
							<div id="validationServer03Feedback"  class="invalid-feedback"  th:each="e: ${#fields.errors('role')}" th:text="${e}" >
                 </div>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" th:field="*{role}"
							th:value="admin" name="userType" id="admin" value="admin"  th:classappend="${#fields.hasErrors('role') ?'is-invalid':''}">
						<label class="form-check-label" for="admin">Admin</label>
						<br>
							<div id="validationServer03Feedback"  class="invalid-feedback"  th:each="e: ${#fields.errors('role')}" th:text="${e}" >
                 </div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Submit</button>
			</form>
		</div>
	</div>


<!-- 
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>













	<script>
    // Validate passwords match
    document.getElementById("registrationForm").addEventListener("submit", function(event) {
      var password = document.getElementById("password").value;
      var confirmPassword = document.getElementById("confirmPassword").value;

      if (password !== confirmPassword) {
        alert("Passwords do not match");
        event.preventDefault();
      }
    });
</script>

<script>
    // Validate phone number format
    function validatePhoneNumber(phoneNumber) {
      // Regular expression for a 10-digit phone number
      var phonePattern = /^\d{10}$/;
      return phonePattern.test(phoneNumber);
    }

    document.getElementById("registrationForm").addEventListener("submit", function(event) {
      var phoneNumber = document.getElementById("phone").value;
      if (!validatePhoneNumber(phoneNumber)) {
        alert("Please enter a valid 10-digit phone number");
        event.preventDefault();
      }
    });
</script>
*/
 -->



</body>
</html>
